<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Style Guide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- build:css -->
  <link rel="stylesheet" href="assets/css/style.css"/>
  <!--endbuild-->
</head>
<body>