{{> base/html-top}}

<div class="container">
  <div class="container-wrapper">
    <div class="page-header">
      <h1>Css grid</h1>
    </div>

      <div class="row">
        <div class="col col-sm--6 col-md--2-8 col-lg--3"></div>
        <div class="col--6 col-md--2-8 col-lg--4"></div>
        <div class="col--7 col-sm--2 col-md--2-8 col-lg--5"></div>
        <div class="col--3 col-sm--10 col-md--8-12 col-lg--12"></div>
      </div>

  </div>
</div>

{{> base/html-bottom}}