@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

$font-main: 'Open Sans', sans-serif;

$font-weight-light:       300;
$font-weight-regular:     400;
$font-weight-semi-bold:   600;
$font-weight-bold:        700;
$font-weight-extra-bold:  800;