//----------------Setup-----------------//

//define the maximum of the container width

$max-container-width: 960px;

//define the count of the columns

$grid-columns: 12;

//define the breakpoints
//if you add or remove a breakpoint, also do this for the gap and offset

$breakpoints: (
        sm: 768px,
        md: 1024px,
        lg: 1440px
);

//define the gap within the breakpoints

$gap: (
        xs: 16px,
        sm: 24px,
        md: 24px,
        lg: 40px
);

//define the offset within the breakpoints

$offset: (
        xs: 16px,
        sm: 30px,
        md: 40px,
        lg: 0
);

//------------------------------------------//




//breakpoints

@mixin media($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

//grid

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: $max-container-width;
  margin: 0 auto;
  padding-left: map-get($offset, xs);
  padding-right: map-get($offset, xs);

  @each $size, $value in $offset {
    @include media($size) {
      padding-left: $value;
      padding-right: $value;
    }
  }
}

.row {
  width: 100%;
  display: grid;
  grid-gap: map-get($gap, xs);
  grid-template-columns: repeat($grid-columns, 1fr);

  @each $size, $value in $gap {
    @include media($size) {
      grid-gap: $value;
    }
  }
}

.col {
  grid-column: span $grid-columns;
}

@for $i from 1 through $grid-columns {
  @for $j from 1 through $grid-columns {
    @if ($i <= $j) {
      .col--#{$i}-#{$j} {
        grid-column: #{$i} / #{$j + 1};
      }
    }
  }
  .col--#{$i} {
    grid-column: span $i;
  }
}

@each $size, $value in $breakpoints {
  @include media(#{$size}) {
    @for $i from 1 through $grid-columns {
      @for $j from 1 through $grid-columns {
        @if ($i <= $j) {
          .col-#{$size}--#{$i}-#{$j} {
            grid-column: #{$i} / #{$j + 1};
          }
        }
      }
      .col-#{$size}--#{$i} {
        grid-column: span $i;
      }
    }
  }
}

