body {
  font-family: $font-main;
  font-weight: $font-weight-light;
  color: $color-black;
}

h1 {
  font-size: 56px;
  font-weight: $font-weight-extra-bold;
  text-transform: uppercase;
  text-align: right;
}