/*
    Use this file to make quick fixes and refactor it later
*/
[class^='col'] {
  border: 2px solid $color-grey;
  //background: $color-grey;
  height: 50px;
}

.container-wrapper {
  display: grid;
  grid-row-gap: 60px;
  padding: 60px 0;
  box-shadow: 0 0 25px rgba($color-black, .3);
}